<section class="section" id="trainers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>𝗘𝗫𝗣𝗘𝗥𝗧 <em style="color: orangered">𝗧𝗥𝗔𝗜𝗡𝗘𝗥𝗦 </em></h2>
          <img src="assets/images/line-dec.png" alt="" />
          <p>
            Train with our elite team of expert fitness coaches and unlock your
            full potential at the gym
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="image-thumb">
          <img
            src="assets/images/traineer1.png"
            width="300px"
            height="250px"
            alt=""
          />
        </div>
        <div class="trainer-description">
          <h4>Bret D. Bowers</h4>
          <p>
            Strength Trainer: Transform your strength and redefine your limits
            under the guidance of our seasoned strength trainers, empowering you
            to achieve unparalleled results.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image-thumb">
          <img
            src="assets/images/traineer2.png"
            width="300px"
            height="250px"
            alt=""
          />
        </div>
        <div class="trainer-description">
          <h4>Hector T. Daigl</h4>
          <p>
            Muscle Trainer: Embark on a journey to sculpt and define your
            physique with our dedicated muscle trainers, combining expertise and
            motivation to help you reach your muscle-building goals.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image-thumb">
          <img
            src="assets/images/traineer4.png"
            width="300px"
            height="250px"
            alt=""
          />
        </div>
        <div class="trainer-description">
          <h4>Paul D. Newman</h4>
          <p>
            Power Trainer: Unleash your potential and elevate your performance
            with our power trainers, guiding you through dynamic workouts
            designed to enhance strength, agility, and explosive power.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
