<section class="section" id="trainers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>𝗘𝗫𝗣𝗘𝗥𝗧 <em style="color: orangered">𝗧𝗥𝗔𝗜𝗡𝗘𝗥𝗦 </em></h2>
          <img src="assets/images/line-dec.png" alt="" />

          <p>
            Train with our elite team of expert fitness coaches and unlock your
            full potential at the gym
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card trainer-card shadow">
          <div class="card-body">
            <div class="image-thumb">
              <img src="assets/images/first-trainer.jpg" alt="" />
            </div>
            <div class="down-content">
              <span>Strength Trainer</span>
              <h4>Bret D. Bowers</h4>
              <p>
                Transform your strength and redefine your limits under the
                guidance of our seasoned strength trainers, empowering you to
                achieve unparalleled results.
              </p>
              <a href="https://www.facebook.com/login/" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="http://www.discardless.eu/twitter.com/login62b1.html?lang=en-gb"
                class="me-4 text-reset"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://www.instagram.com/accounts/login/"
                class="me-4 text-reset"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card trainer-card shadow">
          <div class="card-body">
            <div class="image-thumb">
              <img src="assets/images/second-trainer.jpg" alt="" />
            </div>
            <div class="down-content">
              <span>Muscle Trainer</span>
              <h4>Hector T. Daigl</h4>
              <p>
                Embark on a journey to sculpt and define your physique with our
                dedicated muscle trainers, combining expertise and motivation to
                help you reach your muscle-building goals.
              </p>
              <a href="https://www.facebook.com/login/" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="http://www.discardless.eu/twitter.com/login62b1.html?lang=en-gb"
                class="me-4 text-reset"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://www.instagram.com/accounts/login/"
                class="me-4 text-reset"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card trainer-card shadow">
          <div class="card-body">
            <div class="image-thumb">
              <img src="assets/images/third-trainer.jpg" alt="" />
            </div>
            <div class="down-content">
              <span>Power Trainer</span>
              <h4>Paul D. Newman</h4>
              <p>
                Unleash your potential and elevate your performance with our
                power trainers, guiding you through dynamic workouts designed to
                enhance strength, agility, and explosive power.
              </p>
              <a href="https://www.facebook.com/login/" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="http://www.discardless.eu/twitter.com/login62b1.html?lang=en-gb"
                class="me-4 text-reset"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://www.instagram.com/accounts/login/"
                class="me-4 text-reset"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <app-contact></app-contact>
</div>
