<section class="section1" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>
            CONTACT<em><strong style="color: orangered">US</strong></em>
          </h2>
          <img src="assets/images/line-dec.png" alt="" />
        </div>
      </div>
    </div>
    <div>
      <strong style="margin-left: 38rem">GET IN TOUCH</strong><br />
      we are always ready to hear from you our team is always ready to hear from
      you. we make it a point to respond within 24 hours on weekdays and 48
      hours on weekends
    </div>
    <section class="section" id="contact-us">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div id="map" class="map-container">
              <iframe
                src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="100%"
                height="600px"
                frameborder="0"
                style="border: 0"
                allowfullscreen
              ></iframe>
              <!-- <img
                src="assets/images/clients-map-desktop.webp"
                alt=""
                style="height: 700px; object-fit: cover; width: 100%"
              /> -->
            </div>
          </div>

          <!-- Contact Form Column -->
          <div class="col-lg-6 col-md-6 col-xs-12 position-relative">
            <div class="position-relative">
              <img
                src="assets/images/contact-bg.jpg"
                alt=""
                style="height: 600px; object-fit: cover; width: 100%"
              />

              <div
                class="contact-form card"
                style="
                  background-color: white; /* Adjust the alpha value for transparency */
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                "
              >
              <h1>Contact Information</h1>
              <ul>
                <h5><strong>Address:</strong>Fit Fusion Hu 123 Elm Street
                  Sunnydale, CA 90210b </h5>
                <h5><strong>Phone:</strong> +1 123 456 7890 </h5>
                  <h5><strong>Email:</strong> fitfusionhub&#64;.com </h5>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
