<header class="header-area header-sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo -->
      <img src="assets/images/tabs-first-icon.png" alt="" />
      <a class="navbar-brand" routerLink="/"
        >FITFUSION<em><strong style="color: orangered"> HUB</strong></em></a
      >

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- Nav Links -->
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/home"
              routerLinkActive="active"
              id="homeLink"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trainer" routerLinkActive="active"
              >Trainers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" routerLink="/settings">
              <i class="fa-solid fa-gear"></i>
              <!-- Setting icon -->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
