<header class="header-area header-sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo -->
      <img src="assets/images/tabs-first-icon.png" alt="" />
      <a class="navbar-brand" routerLink="/"
        >FITFUSION<em><strong style="color: orangered"> HUB</strong></em></a
      >

      <!-- Navbar Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- Nav Links -->
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/home"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active"
              >About</a
            >
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/classes" routerLinkActive="active"
              >Classes</a
            >
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/schedule" routerLinkActive="active"
              >Schedules</a
            >
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/trainer" routerLinkActive="active"
              >Trainers</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
          </li>
          <!-- Sign Up Button -->
          <li class="nav-item">
            <button
              class="btn btn-danger ml-2"
              style="background-color: orangered"
              routerLink="login"
            >
              Sign In
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
