<section class="section" id="call-to-action" style="position: relative">
  <img
    src="assets/images/schedule-bg.jpg"
    class="background-image"
    alt="Background Image"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    "
  />
  <div class="container" style="position: relative">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2 style="color: white">Classes <em>Schedule</em></h2>
          <img src="assets/images/line-dec.png" alt="" />
        </div>
      </div>
      <p style="color: white">
        Special Offer: Join Now and Get Started! Don't wait any longer to invest
        in your health and well-being. Sign up for a membership today and take
        the first step toward a healthier, happier you. Plus, for a limited
        time, new members receive exclusive discounts and bonuses!
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="filters" style="color: black">
          <div class="schedule-filter">
            <div class="day-links">
              <span (click)="setSelectedDay('Monday')">Monday</span>
              <span (click)="setSelectedDay('Tuesday')">Tuesday</span>
              <span (click)="setSelectedDay('Wednesday')">Wednesday</span>
              <span (click)="setSelectedDay('Thursday')">Thursday</span>
              <span (click)="setSelectedDay('Friday')">Friday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 offset-lg-1">
      <div class="schedule-table filtering">
        <table>
          <thead>
            <tr>
              <th>Class</th>
              <th>Time</th>
              <th>Instructor</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through schedule data and filter based on selected day -->
            <tr *ngFor="let class of schedule">
              <ng-container
                *ngIf="!selectedDay || class.days.includes(selectedDay)"
              >
                <td>{{ class.name }}</td>
                <td>{{ class.time }}</td>
                <td>
                  {{ getInstructorForClass(class.name) }}
                </td>
                <!-- Display other class details as needed -->
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="section" id="call-to-action" style="position: relative">
  <app-trainers></app-trainers>
</section>
