<!-- ***** Our Classes Start ***** -->
<!-- app.component.html -->

<!-- This is where the content of your different components will be loaded dynamically -->

<div class="container">
  <section class="section" id="our-classes">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>𝗢𝗨𝗥 <em style="color: orangered">𝗖𝗟𝗔𝗦𝗦𝗘𝗦</em></h2>
            <img src="assets/images/line-dec.png" alt="" />
            <p>
              Transform your fitness journey with our dynamic range of fitness
              classes designed to challenge, motivate, and elevate your workout
              experience.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Left Column: Classes Menu -->
        <div class="col-lg-4">
          <div class="card shadow">
            <div class="card-body">
              <div class="sameline">
                <img src="assets/images/tabs-first-icon.png" alt="" />

                <a
                  (click)="showImage('tabs-1')"
                  style="color: orangered; padding: 7px"
                >
                  <h4 class="card-title">Muscle Building</h4>
                </a>
              </div>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="sameline">
                <img src="assets/images/tabs-first-icon.png" alt="" />
                <a
                  (click)="showImage('tabs-2')"
                  style="color: orangered; padding: 7px"
                >
                  <h4 class="card-title">Yoga Classes</h4>
                </a>
              </div>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="sameline">
                <img src="assets/images/tabs-first-icon.png" alt="" />
                <a
                  (click)="showImage('tabs-3')"
                  style="color: orangered; padding: 7px"
                >
                  <h4 class="card-title">Cardio Workouts</h4>
                </a>
              </div>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="sameline">
                <img src="assets/images/tabs-first-icon.png" alt="" />
                <a
                  (click)="showImage('tabs-4')"
                  style="color: orangered; padding: 7px"
                >
                  <h4 class="card-title">Zumba Classes</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Right Column: Images and Details -->
        <div class="col-lg-8">
          <section class="tabs-content">
            <article
              *ngIf="selectedClass === 'tabs-1' || !selectedClass"
              id="tabs-1"
            >
              <div class="card shadow">
                <img
                  src="assets/images/muscle.jpg"
                  alt="Muscle Building"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h4 class="card-title">Muscle Building</h4>
                  <p class="card-text">
                    Transform your physique and join our muscle building classes
                    now!
                  </p>
                  <div class="main-button">
                    <a routerLink="/classes-details" class="btn btn-primary"
                      >View Schedule</a
                    >
                  </div>
                </div>
              </div>
            </article>
            <article *ngIf="selectedClass === 'tabs-2'" id="tabs-2">
              <div class="card shadow">
                <img
                  src="assets/images/yoga.jpg"
                  alt="Yoga Classes"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h4 class="card-title">Yoga Classes</h4>
                  <p class="card-text">
                    Transform your body and mind - Join our invigorating Yoga
                    classes now!
                  </p>
                  <div class="main-button">
                    <a routerLink="/classes-details" class="btn btn-primary"
                      >View Schedule</a
                    >
                  </div>
                </div>
              </div>
            </article>
            <article *ngIf="selectedClass === 'tabs-3'" id="tabs-3">
              <div class="card shadow">
                <img
                  src="assets/images/cardio.jpg"
                  alt="Cardio Workouts"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h4 class="card-title">Cardio Workouts</h4>
                  <p class="card-text">
                    Join now for invigorating cardio workouts and elevate your
                    fitness journey!
                  </p>
                  <div class="main-button">
                    <a routerLink="/classes-details" class="btn btn-primary"
                      >View Schedule</a
                    >
                  </div>
                </div>
              </div>
            </article>
            <article *ngIf="selectedClass === 'tabs-4'" id="tabs-4">
              <div class="card shadow">
                <img
                  src="assets/images/zumba.jpg"
                  alt="Zumba Classes"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h4 class="card-title">Zumba Classes</h4>
                  <p class="card-text">
                    Join now and dance your way to fitness with our vibrant
                    Zumba classes!
                  </p>
                  <div class="main-button">
                    <a routerLink="/classes-details" class="btn btn-primary"
                      >View Schedule</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
