<section class="section">
  <div class="container">
    <div class="section-heading">
      <h2>
        BUILD MUSCLE WITH POWER - JOIN OUR INTENSE WORKOUT SESSIONS AT WAVES
        GYM!
      </h2>
      <img src="assets/images/line-dec.png" alt="Line Decoration" />
    </div>
    <div class="section-description">
      <p>
        Transform your physique with our high-intensity muscle-building sessions
        at Waves Gym. Elevate your strength and endurance through dynamic
        workouts tailored to sculpt your body and unleash your full potential..
      </p>
    </div>
    <div class="benefits">
      <h3>Top Benefits of Our Muscle-Building Program:</h3>
      <ul class="benefits-list">
        <li>Efficient Muscle Growth & Strength Development</li>
        <li>Targeted Body Sculpting & Definition</li>
        <li>Improved Physical Coordination & Control</li>
        <li>Enhanced Stamina & Postural Stability</li>
        <li>Reduced Stress Levels & Mental Focus</li>
        <li>Elevated Confidence & Well-Being</li>
      </ul>
    </div>
    <div class="why-choose">
      <h3>Why Choose Waves Gym for Muscle Building?</h3>
      <ul class="why-choose-list">
        <li>Expert Trainers Dedicated to Your Success</li>
        <li>Inclusive Programs Tailored to All Fitness Levels</li>
        <li>State-of-the-Art Training Facilities</li>
        <li>Customized Muscle-Building Regimens</li>
      </ul>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" routerLink="/packagesDetail">
        Purchase Now!
      </button>
    </div>
  </div>
</div>
