<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video" class="w-100">
    <source [src]="'assets/images/gym-video.mp4'" type="video/mp4" />
  </video>

  <div class="video-overlay header-text text-center text-white">
    <div class="caption">
      <h6 class="mb-4">𝗐𝗈𝗋𝗄 𝗁𝖺𝗋𝖽𝖾𝗋, 𝗀𝖾𝗍 𝗌𝗍𝗋𝗈𝗇𝗀𝖾𝗋</h6>
      <h1 class="mb-4">𝗘𝗔𝗦𝗬 𝗪𝗜𝗧𝗛 𝗢𝗨𝗥 𝗚𝗬𝗠</h1>
      <div class="main-button scroll-to-section">
        <a href="#features" class="btn btn-primary btn-lg">Become a member</a>
      </div>
    </div>
  </div>
</div>
<app-packages></app-packages>
