<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video" class="w-100">
    <source [src]="'assets/images/gym-video.mp4'" type="video/mp4" />
  </video>

  <div class="video-overlay header-text text-center text-white">
    <div class="caption">
      <h6 class="mb-4">WORK HARDER, GET STRONGER</h6>
      <h1 class="mb-4">
        𝗘𝗔𝗦𝗬 𝗪𝗜𝗧𝗛 𝗢𝗨𝗥 <strong style="color: orangered">𝗚𝗬𝗠</strong>
      </h1>
    </div>
  </div>
</div>

<app-packages></app-packages>
<app-contact></app-contact>
