<section class="section">
  <div class="container">
    <div class="section-heading">
      <h2>
        EMBRACE SERENITY AND STRENGTH - JOIN OUR INSPIRING YOGA CLASSES AT WAVES
        GYM!
      </h2>
      <img src="assets/images/line-dec.png" alt="Line Decoration" />
    </div>
    <div class="section-description">
      <p>
        Cultivate inner peace and vitality with our rejuvenating yoga classes at
        Waves Gym. Strengthen your body and mind through harmonious practices
        designed to enhance flexibility, balance, and mindfulness.
      </p>
    </div>
    <div class="benefits">
      <h3>Top Benefits of Our Yoga Classes:</h3>
      <ul class="benefits-list">
        <li>Improved Flexibility & Range of Motion</li>
        <li>Enhanced Physical Strength & Balance</li>
        <li>Stress Reduction & Emotional Well-Being</li>
        <li>Increase in Mental Clarity & Focus</li>
        <li>Boosted Immune System & Overall Health</li>
        <li>Inner Peace & Spiritual Growth</li>
      </ul>
    </div>
    <div class="why-choose">
      <h3>Why Choose Waves Gym for Yoga?</h3>
      <ul class="why-choose-list">
        <li>Experienced Instructors Dedicated to Your Progress</li>
        <li>Classes Suitable for All Experience Levels</li>
        <li>Tranquil Studio Environment</li>
        <li>Customized Yoga Programs for Holistic Wellness</li>
      </ul>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" routerLink="/packagesDetail">
        Purchase Now!
      </button>
    </div>
  </div>
</div>
