<div>
  <p>
    Users register and log in, then proceed to become members. Members are
    directed to take a quiz, and their quiz data is stored in the backend. After
    submitting the quiz, users see a new page with a new navbar. However,
    there's a problem where clicking on any item in the new navbar brings back
    the old navbar. Additionally, trainers need access to information about new
    member registrations and quiz results, but the trainer module is yet to be
    created, and i'm unsure how to connect the member and trainer modules. Here
    everytime the quiz is beining taken i dont want that only once the user can
    give there information through quiz its the issue here the ui's yet to make
  </p>
  <p>
    If it required the admin module than plz do make it. user profile page is
    also remaining Dahboard contains the log of particular member the daily
    workout and the trainers given task are doe like a tracker After they become
    member they wouldn't able to see the about bcuz it contains the page that
    has become memmber button wanted to add payment gateway for payment the new
    navbar is inside class component
  </p>
  <p>
    the application size that is the main thing i wanted to be fit content but
    it is scrolling, the navbar if user is not register no any page other than
    home page will display
  </p>
</div>
